.navbar {
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

.navbar-brand {
  font-size: 17px;
}

.form-control {
  font-size: 14px;
}

/* From Line 14 to 22 is used to remove the up/down arrows in input with number style */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* MODAL SCROLLING FIX */
.modal {
  overflow-y:auto;
}


/* Table with links */

#titleNode,
#sortString,
#titlePayNode {
  font-size: 14px;
}

#homeFileInputLbl,
#carFileInputLbl,
#busFileInputLbl,
#otherFileInputLbl,
#rentalFileInputLbl,
#incomeFileInputLbl {
  border: 1px solid black;
  background-color: rgb(47, 58, 211);
  border-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  padding: 5px;
}

#homeFileInputLbl:hover,
#otherFileInputLbl:hover,
#carFileInputLbl:hover,
#busFileInputLbl:hover,
#rentalFileInputLbl:hover,
#incomeFileInputLbl:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 400;
}

#incomeImgContainer,
#rentalImgContainer,
#homeImgContainer,
#otherImgContainer,
#vehicleImgContainer,
#busImgContainer {
  width: 100%;
}

#incomeImgContainer img,
#rentalImgContainer img,
#homeImgContainer img,
#otherImgContainer img,
#vehicleImgContainer img,
#busImgContainer img {
  max-height:100px;
  max-width: 100px;
}

#incomeDateLbl,
#incomenetAmtLbl,
#incomehstAmtLbl,
#incomepstAmtLbl,
#incomeTotalAmtLbl,
#incomeExpIDLbl,
#incomeDescriptionLbl,
#incomeAddVendorLbl,
#incomeExpCatSelectLbl,
#incomePartySelectLbl,
#carDateLbl,
#carnetAmtLbl,
#carhstAmtLbl,
#carpstAmtLbl,
#carTotalAmtLbl,
#carExpIDLbl,
#carDescriptionLbl,
#carAddVendorLbl,
#carExpCatSelectLbl,
#busDateLbl,
#busnetAmtLbl,
#bushstAmtLbl,
#buspstAmtLbl,
#busTotalAmtLbl,
#busExpIDLbl,
#busDescriptionLbl,
#busAddVendorLbl,
#busExpCatSelectLbl,
#homeDateLbl,
#homenetAmtLbl,
#homehstAmtLbl,
#homepstAmtLbl,
#homeTotalAmtLbl,
#homeExpIDLbl,
#homeDescriptionLbl,
#homeAddVendorLbl,
#homeExpCatSelectLbl,
#otherDateLbl,
#othernetAmtLbl,
#otherhstAmtLbl,
#otherpstAmtLbl,
#otherTotalAmtLbl,
#otherExpIDLbl,
#otherDescriptionLbl,
#otherAddVendorLbl,
#otherExpCatSelectLbl,
#rentalDateLbl,
#rentalnetAmtLbl,
#rentalhstAmtLbl,
#rentalpstAmtLbl,
#rentalTotalAmtLbl,
#rentalExpIDLbl,
#rentalDescriptionLbl,
#rentalAddVendorLbl,
#rentalExpCatSelectLbl,
#hstPaymentDateLbl,
#hstPaymentAmtLbl,
#hstPaymentStatusLbl,
#hstPaymentDescriptionLbl,
#pstPaymentDateLbl,
#pstPaymentAmtLbl,
#pstPaymentStatusLbl,
#pstPaymentDescriptionLbl,
#taxPaymentDateLbl,
#taxPaymentAmtLbl,
#taxPaymentStatusLbl,
#taxPaymentDescriptionLbl {
  margin-bottom: 0px;
}

#carExpID,
#busExpID,
#homeExpID,
#otherExpID,
#rentalExpID,
#incomeExpID,
#hstPaymentStatus,
#pstPaymentStatus {
  font-weight: bold;
}

#addCarExpenseModal input,
#BusExpenseModal input,
#HomeExpenseModal input,
#OtherExpenseModal input,
#RentalExpenseModal input,
#IncomeModal input,
#hstPaymentModal input, 
#pstPaymentModal input,
#taxPaymentModal input {
  height: 22px;
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.radiobtn {
  font-weight: bold;
}

#modalHead,
#busModalHead,
#homeModalHead,
#otherModalHead,
#rentalModalHead,
#incomeModalHead,
#incomeStatementModalHead,
#hstPaymentModalHead,
#pstPaymentModalHead,
#taxPaymentModalHead {
  height: 60px;
}

#incomeExpDeleteBtn,
#closeIncomeExpModal,
#incomeEntryformReset,
#incomeExpSaveChangesBtn,
#incomeExpBtn,
#carExpDeleteBtn,
#closeCarExpModal,
#carEntryformReset,
#carExpSaveChangesBtn,
#carExpBtn,
#busExpDeleteBtn,
#closeBusExpModal,
#busEntryformReset,
#busExpSaveChangesBtn,
#busExpBtn,
#homeExpDeleteBtn,
#closeHomeExpModal,
#homeEntryformReset,
#homeExpSaveChangesBtn,
#homeExpBtn,
#otherExpDeleteBtn,
#closeOtherExpModal,
#otherEntryformReset,
#otherExpSaveChangesBtn,
#otherExpBtn,
#rentalEntryformReset,
#rentalExpSaveChangesBtn,
#rentalExpBtn,
#monthlyLbl,
#monthlyBusLbl,
#monthlyHomeLbl,
#monthlyOtherLbl,
#monthlyRentalLbl,
#hstPaymentformReset,
#hstPaymentDeleteBtn,
#closeHSTPaymentModal,
#hstPaymentSaveChangesBtn,
#hstPaymentSubmitBtn,
#pstPaymentformReset,
#pstPaymentDeleteBtn,
#closePSTPaymentModal,
#pstPaymentSaveChangesBtn,
#pstPaymentSubmitBtn,
#taxPaymentformReset,
#taxPaymentDeleteBtn,
#closeTAXPaymentModal,
#taxPaymentSaveChangesBtn,
#taxPaymentSubmitBtn {
  font-size: 14px;
}

#btnRemoveImg,
#carExpShowHideReceipt,
#btnRemoveImgBus,
#busExpShowHideReceipt,
#btnRemoveImgHome,
#homeExpShowHideReceipt,
#homeExpShowFullSize,
#btnRemoveImgOther,
#otherExpShowHideReceipt,
#otherExpShowFullSize,
#busExpShowFullSize,
#carExpShowFullSize,
#btnRemoveImgRental,
#rentalExpShowHideReceipt,
#rentalExpShowFullSize,
#btnRemoveImgIncome,
#incomeExpShowHideReceipt,
#incomeExpShowFullSize,
#monthlyLblYES,
#monthlyLblNO,
#monthlyBusLblYES,
#monthlyBusLblNO,
#monthlyHomeLblYES,
#monthlyHomeLblNO,
#monthlyOtherLblYES,
#monthlyOtherLblNO,
#monthlyRentalLblYES,
#monthlyRentalLblNO,
#monthlyIncomeLblYES,
#monthlyIncomeLblNO {
  font-size: 12px;
}

#carAddVendor,
#busAddVendor,
#homeAddVendor,
#otherAddVendor,
#rentalAddVendor,
#incomeAddVendor,
#incomeAddParty {
  height: 22px;
  font-size: 11px;
  width: 28px;
  padding-left: 3px;
}

#carDeleteVendor,
#busDeleteVendor,
#homeDeleteVendor,
#otherDeleteVendor,
#rentalDeleteVendor,
#incomeDeleteVendor,
#incomeDeleteParty {
  height: 22px;
  width: 20px;
  font-weight: bold;
  padding-left: 6px;
}

#carAutoAmount,
#busAutoAmount,
#homeAutoAmount,
#otherAutoAmount,
#rentalAutoAmount,
#incomeAutoAmount {
  width: 30px;
  height: 22px;
}

.mySelect {
  height: 22px;
  font-size: 11px;
  padding: 0;
}

#imgloadBus,
#imgload,
#imgloadHome,
#imgloadOther,
#imgloadRental,
#imgloadIncome {
  font-size: 0px!important;
  height: 0px!important;
}

label {
  font-size: 14px;
  font-weight: bold;
}

option {
  font-size: 12px;
}

.error {
  color: red;
}

.tooltip {
  font-size: 10px;
}

.linkAppend {
  font-size: 10px;
  height: 24px;
}

.linkAppend:hover {
  cursor: pointer;
}

#totalAmt,
#busTotalAmt,
#homeTotalAmt,
#otherTotalAmt,
#rentalTotalAmt,
#incomeTotalAmt {
  font-weight: bold;
}

#checkboxReceiptLbl,
#checkboxReceiptBusLbl,
#checkboxReceiptHomeLbl,
#checkboxReceiptOtherLbl,
#checkboxReceiptRentalLbl,
#checkboxReceiptIncomeLbl {
  font-size: 12px;
}

.disabled {
  cursor: no-drop !important;
  /* pointer-events: none; */
  opacity: 0.6;
}

.table td {
  border: rgb(19, 66, 19) solid 1px !important;
  font-size: 12px;
}

.table th {
  border: rgb(255, 255, 255) solid 2px;
  font-size: 13px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.container {
  max-width: 100%;
}

@media (max-width: 768px) {
  .tooltip {
    display: none;
  }
}


/* #mainRightDisplay {
  width: 130px;
  margin-left: -16px;
} */

#mainLeftDisplay label,
#mainLeftDisplay input,
#mainRightDisplay label,
#mainRightDisplay input,
#mainRightDisplay select {
  font-size: 16px!important;
  /* width: 120px!important; */
}


#mainLeftDisplay label,
#mainRightDisplay label {
  margin-bottom: 3px!important;
}

/* Vehicle Log */

#vLogModalBody {
  margin-top: 5px;
}

#vehicleLogHead {
  height: 60px;
}

#vLogDayDisplay,
#vLogMonthDisplay,
#vLogQuarterDisplay,
#vLogYearDisplay,
#vLogBtnFirst,
#vLogBtnPrevious,
#vLogBtnNext,
#vLogBtnLast,
#vehicleLogDate,
#vLogBtnSave,
#vLogBtnDelete {
  font-size:10px;
}

#dayDisplayVLog {
  margin-top: 10px;
}

#vLogLowerBlocksLeft button,
#vLogLowerBlocksLeft label,
#vLogLowerBlocksLeft input,
#vLogLowerBlocksCenter button,
#vLogLowerBlocksCenter label,
#vLogLowerBlocksCenter input,
#vLogLowerBlocksRight button,
#vLogLowerBlocksRight label,
#vLogLowerBlocksRight input {
  font-size: 10px;
}

#vLogLowerBlocksLeft input,
#vLogLowerBlocksCenter input,
#vLogLowerBlocksRight input {
  height: 24px;
  width: 100px;
}


/* Income Statement */


#revenueTab,
#busExpTab,
#homeExpTab,
#vehicle1ExpTab,
#vehicle2ExpTab,
#otherCostExpTab,
#rentalExpTab {
  font-size: 16px;
}

#busExpList,
#revenueList,
#homeExpList,
#vehicle1ExpList,
#vehicle2ExpList,
#otherCostsExpList,
#rentalExpList {
  font-size: 12px;
}

#busExpList li,
#revenueList li,
#homeExpList li,
#vehicle1ExpList li,
#vehicle2ExpList li,
#otherCostsExpList li,
#rentalExpList li{
  height: 12px;
}

#incStHorLine,
#incStHorLine2,
#incStHorLineBusExp {
  height: 4px;
}

#incStGdTtlRevenue,
#incStGrTtlRevenue,
#incStGrTtlExpenses {
  font-size: 16px;
  height: 22px;
}

#ImageViewTitle {
  font-size: 18px;
}

#incStImportantBtn {
  font-size: 12px;
}

#incStBusinessExpTotal,
#incStHorLineHomeExp,
#incStHorLineVehicle1Exp,
#incStHorLineVehicle2Exp,
#incStHorLineOtherCostsExp,
#incStHorLineRentalExp,
#incStHomePercentText,
#incStHomePercentText2,
#incStHomePercentDisplay,
#incStVehicle1PercentText,
#incStVehicle1PercentText2,
#incStVehicle1PercentDisplay,
#incStVehicle2PercentText,
#incStVehicle2PercentText2,
#incStVehicle2PercentDisplay {
  font-size: 13px;
}

#incStHomePercentBtn {
  font-size: 12px;
  font-weight: bold;
  width: 286px;
}

#incStVehicle1PercentBtn,
#incStVehicle2PercentBtn {
  font-size: 12px;
  font-weight: bold;
  width: 300px;
}

#revenueNavTab,
#businessNavTab,
#homeNavTab,
#vehicle1NavTab,
#vehicle2NavTab,
#otherCostsNavTab,
#rentalNavTab {
  font-size: 12px;
  font-weight: bolder;
}

/* SETTINGS */

#settingsModal h5 {
  font-size: 18px;
}

#settingModalHeader,
#homePercentModalHeader {
  height: 50px;
}

#settingsSelectLbl,
#settingsTooltipLbl,
#settingsProvinceSelectLbl,
#provinceTaxRatesettings {
  font-size: 14px;
}

#hstSettingLbl,
#pstSettingLbl {
  font-size: 12px;
}

#hstSetting,
#pstSetting {
  height: 24px;
  font-size: 14px;
}

#settingsProvinceSelectLbl,
#provinceTaxRatesettings {
  background-color: rgb(241, 241, 241);
}

#tooltipOnLbl,
#tooltipOffLbl {
  font-size: 9px;
}

/* Home Percent */

#homePercentModal h6 {
  font-size: 14px;
}

#homePercentModal h5 {
  font-size: 16px;
}

#lastLineText {
  text-decoration: underline;
  color: rgb(172, 15, 15)!important;
}

#homePercentModal label {
  font-size: 10px;
  font-weight: bolder;
}

#homePercentModal input {
  width: 50px;
  height: 26px;
  font-size: 11px;
  margin-left: 0px;
  margin-right: 0px;
}

#timePeriodHomePercentSelect {
  height: 26px;
  font-size: 11px;
}

#divisionSign,
#leftBracketSign,
#rightBracketSign,
#leftBracketSign2,
#rightBracketSign2,
#leftBracketSign3,
#rightBracketSign3 {
  font-size: 18px;
}

#dividedbySevenSign,
#dividedbytwoFourSign,
#multiplySign,
#multiplySign2,
#equalSign,
#percentSign {
  font-size: 12px;
}

#percentSign {
  margin-left: -9px;
  margin-right: 16px;
}

#multiplySign {
  margin-left: 7px;
  margin-right: 7px;
}

#multiplySign2 {
  margin-left: 7px;
  margin-right: 7px;
}

#equalSign {
  margin-right: 6px;
  margin-left: 10px;
}

#dividedbySevenSign {
  margin-left: 0px;
}

#colorTextDiv p {
  font-size: 11px;
  font-weight: bold;
}

#bottomHomePercentTextDiv {
  font-size: 11px;
  font-weight: bold;
  width: 85%;
}

#colorTextContainerDiv {
  height: 58px;
}

#btnApplyPercent,
#btnPercentCalcReset {
  font-size: 10px;
}

/* Payment Report  */

#PaymentReportTitle {
  font-size: 16px;
}

#printPDFPaymentBtn,
#paymentSortString {
  font-size: 12px;
}

#paymentModalHeader {
  height: 50px;
  
}

#HeaderSort-Paynumber,
#HeaderSort-1,
#HeaderSort-2,
#HeaderSort-3,
#HeaderSort-4,
#HeaderSort-5,
#titlePayNode,
#paymentSortString {
  color: rgb(170, 3, 3);
}

/* FIXED ASSET ENTRY FORM */
#AssetModal label,
#AssettopRowInputDiv input {
  font-size: 10px;
}

#depreciationRatePercentSpan {
  font-size: 10px;
}

#AssetStartValue,
#AssetClaimAmt,
#ITCClaimAmt,
#AssetBusinessPercent,
#AssetAutoClaimRate,
#AssetStatus {
  font-size: 12px;
}

#AssetStatus {
  width: 100px;
}

#AssetModal label {
  margin-bottom: 0px;
}

#AssetModal input {
  height: 25px;
}

@media (min-width: 992px) {
    #AssetPurchaseDate,
    #AssetClaimDate {
    width: 100px;
  }

  #AssetStartValue,
  #AssetClaimAmt,
  #ITCClaimAmt{
    width: 100px;
  }
  #AssetBusinessPercent  {
    width: 83px;
  }
}

#AssetmodalHead {
  height: 56px;
}

#AssetVehicleSelectAreaText {
  font-size: 10px;
  margin-bottom: 0px;
}

#AssetVehiclePercentApplyBtn {
  font-size: 11px;
}

#AssetEntryForm {
  margin-bottom: -10px;
}

#AssetVehiclePercentContainer {
  margin-top: 0px;
}

#AssetReset,
#AssetDeleteBtn,
#AssetBottomCloseModal,
#AssetSaveChangesBtn,
#AssetSubmitBtn {
  font-size: 12px;
}

#AssetBtnCol9Div {
  margin-left: -20px!important;
}

#AssetAutoClaimText {
  font-size: 12px;
  font-weight: bold;
}

#AssetGenerateClaimBtn {
  font-size: 12px;
  margin-bottom: 6px;
}


#AssetIncludeITC {
  width: 12px;
}

#AssetDepreciationRateDiv,
#AssetIncludeITCDiv {
  margin-top: -15px;
}

#AssetAutoClaimRate {
  width: 65px!important;
}

#AssetVehiclePercentBorder {
  width: 310px;
  margin-left: 62px;
}

#AssetStatusAreaDiv {
  margin-left: 16px;
  margin-right: 0px;
}

#AssetTableAlert {
  padding-right: 8px;
  padding-left: 8px;
}

#titleAssetNode {
 font-size: 14px;
}

#assetSortString,
#printPDFAssetBtn {
  font-size: 12px;
}

#assetModalHeader {
  height: 50px;
}

#AssetReportTitle {
  font-size: 16px;
}

/* ACCOUNT SUMMARY */

#ASmodalHead {
  height: 55px;
}

#ASTopLbl1,
#ASTopLbl2,
#ASTopLbl3,
#ASTopLbl4 {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

.ASLbl {
  font-size: 10px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
}

#ASBigTextTop {
  font-size: 12px;
  font-weight: bold;
}

#ASBigTextMid,
#ASBigTextBtm {
  font-size: 15px;
  font-weight: bold;
}

#ASBigNumberTop,
#ASBigNumberMid,
#ASBigNumberBtm {
  font-size: 14px;
}

#ASleftBoldTextTop,
#ASleftBoldTextMid,
#ASLastBigNumberBtm {
  font-size: 16px;
}

#ASLastTextBtm {
  font-size: 14px;
  font-weight: bold;
}


#ASTimePeriodSelectLbl,
#ASIncludeToPeriodLbl {
  font-size: 12px;
}

#ASTimePeriodSelect {
  font-size: 12px;
  height: 27px;
  width: 140px;
}

/* HST RETURN */

#HSTReturnModalHeader {
  height: 54px;
}

#HSTReturnModalTitle {
  font-size: 16px;
}

#HSTReturnModal label,
#ReturnReportingPeriodLbl {
  font-size: 10px;
}

#ReturnReportingPeriodLbl {
  height: 70px;
}

#PeriodStartDate,
#PeriodEndDate {
  font-size: 11px;
  width: 120px;
  height: 28px;
  margin-left: 4px;
}

#ReturnFirstLineLi,
#ReturnLine105Li {
  height: 50px;
}

#ReturnLine2To3Li,
#ReturnLine106To107Li,
#ReturnLine108to109Li,
#ReturnLine110To111Li,
#ReturnLine112to113ALi,
#ReturnLine205To405Li,
#ReturnLine113Bto113CLi {
  height: 100px;
}

#Line101,
#Line103,
#Line104,
#Line105,
#Line106,
#Line107,
#Line108,
#Line109,
#Line110,
#Line111,
#Line112,
#Line113A,
#Line205,
#Line405,
#Line113B,
#Line113C,
#Line114,
#Line115 {
  width: 100px;
  height: 28px;
  font-size: 11px;
}

#Line101Txt,
#Line103Txt,
#Line104Txt,
#Line105Txt,
#Line106Txt,
#Line107Txt,
#Line108Txt,
#Line109Txt,
#Line110Txt,
#Line111Txt,
#Line112Txt,
#Line113ATxt,
#Line205Txt,
#Line405Txt,
#Line113BTxt,
#Line113CTxt,
#Line114Txt,
#Line115Txt {
  font-size: 9px;
  font-weight: bold;
}

#refundTxt,
#PaymentEnclosedTxt {
  font-size: 12px;
}

#Line103,
#Line104,
#Line106,
#Line107,
#Line110,
#Line111,
#Line205,
#Line405 {
  background-color: rgb(226, 226, 226);
}

#ReturnPrintPDF {
  font-size: 10px;
}

@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}